.App {
  text-align: center;
}

.NavTitle {
  font-size: 30px;
  line-height: 1.428;
}

.NavTab {
  font-size: 22px;
  line-height: 1.428;
}

#footer {
  background: #1b1b1b;
  padding: 3rem 0;
}

#copyright {
  color: #bcbcbc;
  text-align: center;
  margin: 2rem 0 0;
  font-size: .9rem;
}
