#copyright {
    color: #bcbcbc;
    text-align: center;
    margin: 2rem 0 0;
    font-size: .9rem;
  }

  footer {
    background: #1b1b1b;
    padding: 2rem 0;
  }
  
  footer ul > li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  footer ul {
    padding: 0
  }
  
  .fa-icon:hover {
    color: grey;
  }
  
  .fa-icon {
    color: white
  }