#copyright {
    color: #bcbcbc;
    text-align: center;
    font-size: .9rem;
  }

  #footer {
    background: #1b1b1b;
    padding: 20px 0;
    min-height: 118px;
  }
  
  #footer ul > li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  #footer ul {
    padding: 0;
  }
  
  .fa-icon:hover {
    color: grey;
  }
  
  .fa-icon {
    color: white
  }