:root {
  --max-width: 1000px;
  --footer-height: 118px;
}

@media (max-width: 1020px) {
  :root {
    --max-width: 750px;
  }

  .sidebar .profile-img img {
    max-width: 100px;
}
}

@media only screen and (max-width: 765px) {
  .wrapper .sidebar {
    display: table-cell;
    width: auto;
    height: auto;
    position: relative;
    top: 0px;
    padding: 15px 5px 5px 0;
  }

  .sidebar .profile-img img {
    max-width: 65px;
  }

  .sidebar .profile-img {
    padding-left: 0;
  }

  .wrapper .body {
    width: 100% ;
  }

  .body .sections {
    width: 100%  ;
    position: relative;
    padding-top: 0;
  } 

  .sidebar .profile-content {
    padding-left: 15px;
  }
  
  .profile-content .profile-name {
    margin-bottom: 3px;
  }
  
  .profile-content .profile-text {
    margin-bottom: 0;
  }

  #main .wrapper {
    display: block;
  }

  .body .body-content {
    padding-top: 0;
  }
}

#main {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
  }

  .body {
    width: calc(0.72 * var(--max-width));
    text-align: left;
    overflow: auto;
  }
  
  .sidebar {
    width: calc(0.2 * var(--max-width));
    height: 235px;
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
  }
  
  .profile-img {
    padding: 5px;
    display: inherit;
  }

  .profile-img img {
      max-width: 175px;
      border-radius: 50%;
  }

  .profile-content {
      text-align: left;
      padding: 5px;
      display: inherit;
      vertical-align: middle;
  }

  .profile-name {
      font-size: 1rem;
  }

  .profile-text {
      font-size: 0.75rem;
  }
  
.sections {
    position: fixed;
    z-index:10;
    background-color: white;
    padding-top: 75px;
    width: calc(0.72 * var(--max-width));
}

.body-content {
    min-height: calc(100vh - var(--footer-height));
    padding-top:133px;
    z-index:5;
    padding-bottom: 15px;
}

.sections ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sections li {
  display: inline;
  padding-right: 25px;
}

.sections li a {
    text-align: center;
    text-decoration: none;
    text-decoration: underline;
}

.header-mobile .profile-content {
  padding-left: 15px;
}

.header-mobile .profile-content .profile-name {
  margin-bottom: 3px;
}

.header-mobile .profile-content .profile-text {
  margin-bottom: 0;
}