.project {
    display: flex;
}

.project-section ul {
    list-style: none;
}

.project-section .project-description {
    display: block;
    padding-right: 100px;
}

.project-section .project-media  {
    display: inherit;
    margin-left: auto;
}

.project-media img  {
    width: 200px;
    height: auto;
}