:root {
  --max-width: 1000px;
  --footer-height: 118px;
}

@media (max-width: 370px) {
  .sidebar .profile-img {
    display: none;
  }

  .wrapper .sidebar .profile-content {
    padding-left: 0px ;
  }

  .wrapper .body .sections ul li {
    display: block;
    padding-right: 0px;
  }

  .wrapper .body .body-content {
    min-height: calc(87vh - var(--footer-height));
  }
}

@media (max-width: 1020px) {
  :root {
    --max-width: 750px;
  }

  .sidebar .profile-img img {
    max-width: calc(var(--max-width) * 0.15);
  }

  .wrapper .body {
    width: calc(0.72 * var(--max-width))
  }
}

@media (max-width: 768px) {

  #main .mobile-divider {
    display: inherit;
  }

  .body .sections {
    display: none;
  }

  .sidebar .dd {
    display: inherit;
  }

  .sidebar .dd {
    margin-left: auto;
  }

  .sidebar .dd .dd-button {
    display: inherit;
    text-align: right;
  }

  .sidebar .dd .dd-menu {
    display: block;
    position: absolute;
    float: right;
    right: 5px;
    top: 80px;
    background-color: #f1f1f1;
    z-index: 100;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
  }

  .dd-menu a:hover{
    background-color: #ddd;
  }

  .dd-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .wrapper .sidebar {
    display: flex;
    width: auto;
    height: auto;
    position: relative;
    top: 0px;
    padding: 15px 5px 5px 0;
  }

  .sidebar .profile-img img {
    max-width: 65px;
  }

  .sidebar .profile-img {
    padding-left: 0;
  }

  .wrapper .body {
    width: 100% ;
  }

  .body .sections {
    width: 100%  ;
    position: relative;
    padding-top: 0;
  } 

  .sidebar .profile-content {
    padding-left: 15px;
    padding-top: 20px;
    display: table-cell;
  }
  
  .profile-content .profile-name {
    margin-bottom: 3px;
  }
  
  .profile-content .profile-text {
    margin-bottom: 0;
  }

  #main .wrapper {
    display: block;
  }

  .body .body-content {
    padding-top: 0;
    min-height: calc(84.2vh - var(--footer-height));
  }
}

.dd-button {
  padding-top: 20px;
}

.dd {
  display: none;
}

.mobile-divider {
  display: none;
}

#main {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
  }

  .body {
    width: calc(0.72 * var(--max-width));
    text-align: left;
    overflow: auto;
  }
  
  .sidebar {
    width: calc(0.2 * var(--max-width));
    height: 235px;
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
  }
  
  .profile-img {
    padding: 5px;
    display: inherit;
  }

  .profile-img img {
      max-width: 175px;
      border-radius: 50%;
  }

  .profile-content {
      text-align: left;
      padding: 10px 5px 5px 5px;
      display: inherit;
      vertical-align: middle;
  }

  .profile-name {
      font-size: 1rem;
  }

  .profile-text {
      font-size: 0.75rem;
  }
  
.sections {
    position: fixed;
    z-index:10;
    padding-top: 75px;
    width: calc(0.72 * var(--max-width));
}

.body-content {
    min-height: calc(100vh - var(--footer-height));
    padding-top:133px;
    z-index:5;
    padding-bottom: 15px;
}

.sections ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sections li {
  display: inline;
  padding-right: 25px;
}

.sections li a {
    text-align: center;
    text-decoration: none;
    text-decoration: underline;
}

.header-mobile .profile-content {
  padding-left: 15px;
}

.header-mobile .profile-content .profile-name {
  margin-bottom: 3px;
}

.header-mobile .profile-content .profile-text {
  margin-bottom: 0;
}

